{% extends 'cpts/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cpts/css/login.css' %}">
    <title>Login</title>
{% endblock head %}

{% block datas %}
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-auto bg-light rounded p-3">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock datas %}
