

{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    {% include 'cpts/common_head.html' %}
    {% block head %}

    {% endblock head %}
</head>

<body class="bg-secondary">
    {% if user.is_authenticated == False %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
    <!-- MY SCRIPTS-->
    <!-- CONTENT -->
    <article>
        <div id="PAGE" class="container-fluid ">
            <!-- MODAL -->
            <div id="MODAL" class="modal fade">

            </div>
            <!-- FILTERS -->
            <div id="FILTERS" class="row fixed-top bg-dark p-1">

            </div>
            <!-- DATAS_TO_DISPLAY -->
            <div id="DATAS">
                {% block datas %}
                {% endblock datas %}
            </div>
        </div>
    </article>

    <!-- TOP MENU BAR -->
    {% include 'cpts/menu.html' %}

    <!-- COMMON SCRIPTS -->
    {% include 'cpts/common_scripts.html' %}

    <!-- LAUNCH SCRIPT AFTER LOAD -->

</body>
</html>