<!-- Modal body -->
<div class="container-fluid">
    <span id="MODAL_opid" class="d-none">{{mydatas.op_id}}</span>
    <div class="row align-items-center">
        <div class="col text-center font-weight-bold">
            {{mydatas.t_desc}}
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-8">
            {{mydatas.cpt.t_name}}
        </div>
        <div class="col-4 'text-success' text-right font-weight-bold">
            {{mydatas.n_value}}
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        {{ form }}
    </div>
</div>