{% extends 'cpts/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cpts/css/details.css' %}">
    <title>{{title}}</title>
{% endblock head %}


{% block modal %}
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Edit Details</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div id="MODAL_BODY" class="modal-body">

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" onClick="save_modal()">Save</button>
            </div>
        </div>
    </div>
{% endblock modal %}


{% block filters %}
    <form method="post">
        {% csrf_token %}
        <div id="FILTERS_VISIBLE" class="form-row align-items-center mx-2">
            {{ form }}
            <button class="btn btn-primary mb-1 btn-sm" type="button" data-toggle="collapse" data-target="#FILTERS_HIDDEN">
                <span class="fa fa-filter"></span>
            </button>
            <input type="submit" value="Filter">
        </div>
        <div id="FILTERS_HIDDEN" class="collapse form-row align-items-center mx-2">
            {{ form_hidden }}
        </div>
    </form>
{% endblock filters %}


{% block datas %}
    {% for op in mydatas %}
        {% ifchanged op.d_date %}
            {% if not forloop.first %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="row bg-secondary text-light font-weight-bold sticky-top my-1 DATA_GROUP">
                <div class="col-12">{{op.d_date}}</div>
            </div>
            <div class="card p-0">
                <div class="card-body bg-white p-0 pb-1 pr-1">
                    <ul class="list-group list-group-flush ">
        {% endifchanged %}
        <div class="row text-nowrap text-truncate p-1 ">
            <div class="col-xl-4 text-truncate d-none d-xl-block">
                <button class="btn btn-secondary btn-sm mr-2 align-right" type="button" onClick="load_modal({{op.op_id}})">
                    <span class="fa fa-edit"></span>
                </button>
                {{op.t_desc}}
            </div>
            <div class="col-xl-1 <?=$Color?> text-center d-none d-xl-block">
                {{ op.n_value|floatformat:"0" }}
            </div>
            <div class="col-xl-2 text-truncate d-none d-xl-block">
                <i class="fa <?=$icon?>"></i>
                {{ op.cat.t_cat_name }}
            </div>
            <div class="col-xl-2 d-none d-xl-block">
                {{ op.cpt.t_name }}
            </div>
            <div class="col-xl-3 d-none d-xl-block">
                {{ op.t_comment }}
            </div>
        </div>
    {% endfor %}
{% endblock datas %}


{% block javascript %}
    <script src="{% static 'cpts/js/details.js' %}"></script>
{% endblock javascript %}