{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    {% block head %}

    {% endblock %}
</head>

<body class="bg-secondary">
    <!-- MY SCRIPTS-->
    <!-- CONTENT -->
    <article>
        <div id="PAGE" class="container-fluid ">
            <!-- MODAL -->
            <div id="MODAL" class="modal fade">

            </div>
            <!-- FILTERS -->
            <div id="FILTERS" class="row fixed-top bg-dark p-1">

            </div>
            <!-- DATAS_TO_DISPLAY -->
            <div id="DATAS">

            </div>
        </div>
    </article>

    <!-- TOP MENU BAR -->
    {% block menu %}

    {% endblock %}
    <!-- COMMON SCRIPTS -->
    <!-- LAUNCH SCRIPT AFTER LOAD -->

</body>
</html>