{% extends 'cpts/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cpts/css/summary.css' %}">
    <title>{{title}}</title>
{% endblock head %}

{% block datas %}
    <div class="row">
        {% for cpt in mydatas %}
            {% ifchanged cpt.t_type %}
                {% if not forloop.first %}
                </table>
                {% endif %}
                <table class="table table-striped bg-light m-1">
                    <thead class="thead-dark">
                        <th class="text-left">{{cpt.t_type}}</th>
                        <th></th>
                        <th class="text-right">Dispo</th>
                        <th class="text-right">Bloqué</th>
                    </thead>
            {% endifchanged %}
            <tr>
                <td class="text-left">{{ cpt.t_name }}</td>
                <td class="text-center text-muted font-italic">{{ cpt.t_banque }}</td>
                {% if cpt.n_solde_avail > 0 %}
                    <td class="text-right text-success">
                {% elif cpt.n_solde_avail == 0 %}
                    <td class="text-right text-secondary">
                {% else %}
                    <td class="text-right text-danger">
                {% endif %}
                {{ cpt.n_solde_avail|floatformat:"0" }}
                    </td>
                {% if cpt.n_solde_locked > 0 %}
                    <td class="text-right text-success">
                {% elif cpt.n_solde_locked == 0 %}
                    <td class="text-right text-secondary">
                {% else %}
                    <td class="text-right text-danger">
                {% endif %}
                {{ cpt.n_solde_locked|floatformat:"0" }}
                    </td>
            </tr>
        {% endfor %}
    </div>
{% endblock datas %}