{% extends 'cpts/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cpts/css/summary.css' %}">
    <title>{{title}}</title>
{% endblock head %}

{% block datas %}
    <table class="table table-striped bg-light m-1">
        {% for cpt in mydatas %}
        <tr>
            <td class="text-left">{{ cpt.t_name }}</td>
            <td class="text-center text-muted font-italic">{{ cpt.t_banque }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock datas %}